@font-face {
    font-family: "Druk Wide Cy Web";
    src: url('../fonts/Druk-Wide-Cy-Web-Medium-Regular.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #202020;
    color: #fffff1;
    font-family: Inter, sans-serif;
    font-weight: normal;
    font-style: normal;
}

.container {
    max-width: 1416px;
    min-width: 355px;
    margin: 0 auto;
    padding: 0 2rem;
}

a {
    text-decoration: none;
    color: #fffff1;
}

.header {
    padding: 27px 0;
    /*position: relative;*/
    text-transform: uppercase;
    background-color: #202020;
    border-bottom: 3px solid #BF1515;
    position: fixed;
    left: 0;
    right: 0;
}
/* Add wrapper to set header element flexible */
.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-family: "Druk Wide Cy Web",sans-serif;
    text-decoration: none;
    display: contents;
    font-size: 20px;
}

.header__navigation {
    font-size: 25px;
}

.header__navigation:hover .header__links {
    display: inline-block;
    background-color: rgba(32, 32, 32, 0.7);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    padding: 1rem 2rem 0;
    border-bottom: 3px solid #BF1515;
}
/* Remove default dots in unordered list */
.header__links {
    list-style-type: none;
    display: none;
    position: absolute;
    top: 86px;
    left: 0;
    right: 0;
}

.header__link {
    padding-bottom: 25px;
}

main {
    padding-top: 86px;
}

.hero {
    background: url("../images/tattooed-man-posing-rain.png") center top / cover;
}

.hero__title {
    padding-top: 400px;
}