@font-face {
    font-family: "Druk Wide Cy Web";
    src: url('../fonts/Druk-Wide-Cy-Web/Druk-Wide-Cy-Web-Medium-Regular.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: Inter;
    src: url("../fonts/Inter/static/Inter-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: Inter;
    src: url("../fonts/Inter/static/Inter-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: Inter;
    src: url("../fonts/Inter/static/Inter-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: Inter;
    src: url("../fonts/Inter/static/Inter-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: Inter;
    src: url("../fonts/Inter/static/Inter-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 81px;
}

body {
    background-color: #202020;
    color: #fffff1;
    font-family: Inter, sans-serif;
    font-weight: normal;
    font-style: normal;
}

.container {
    max-width: 1416px;
    min-width: 300px;
    margin: 0 auto;
    padding: 0 2rem;
}

a {
    text-decoration: none;
    color: #fffff1;
}

h2 {
    font-family: "Druk Wide Cy Web", sans-serif;
    text-transform: uppercase;
    padding: 60px 0 35px;
    text-align: center;
    letter-spacing: 1px;
}

main {
    padding-top: 81px;
}

.hidden-title {
    display: none;
}

/* Header section */
.header {
    padding: 27px 0;
    text-transform: uppercase;
    background-color: #202020;
    border-bottom: 3px solid #BF1515;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 999;
}
/* Add wrapper to set header element flexible */
.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-family: "Druk Wide Cy Web",sans-serif;
    text-decoration: none;
    font-size: 20px;
}

.header__navigation {
    font-size: 20px;
}

/* Remove default dots in unordered list */
.header__links {
    list-style-type: none;
    display: none;
    min-width: 100dvw;
    position: absolute;
    top: 81px;
    right: 0;
    z-index: 1;
    text-align: center;
}

.header__links a {
    display: block;
}

.header__link {
    padding-bottom: 25px;
}

.nav_btn {
    display: none;
    border: none;
    background-color: transparent;
}

#open_icon,
#close_icon {
    cursor: pointer;
}

#close_icon {
    display: none;
}

.nav_btn:checked ~ .header__links {
    display: block;
    background-color: rgba(32, 32, 32, 0.7);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    padding: 1rem 2rem 0;
    border-bottom: 3px solid #BF1515;
}

.nav_btn:checked ~ label #close_icon {
    display: block;
}

.nav_btn:checked ~ label #open_icon {
    display: none;
}

/* Hero section */
.hero {
    /* Use blend-mode multiply to set background image and background color */
    background-blend-mode: multiply;
    background-image: url("../images/hero_background.webp");
    background-position: center top;
    background-repeat: no-repeat;
    background-color: rgba(32,32,32, 0.2);
    min-height: 648px;
    text-align: center;
}

#hero__mobile {
    padding: 0;
}

.hero__title {
    padding: 400px 2rem 8px;
    color: #BF1515;
    font-size: 39px;
    font-weight: 500;
    letter-spacing: -0.78px;
    text-align: start;
}

.hero__description {
    font-size: 13px;
    padding: 0 2rem 22px;
    text-align: start;
}

.hero__consultation {
    display: inline-block;
    text-transform: uppercase;
    border: 1px solid #BF1515;
    padding: 1rem;
    border-radius: 8px;
}

.hero__consultation:hover {
    background-color: #BF1515;
    transition: background-color 0.2s;
}

/* About section */
.about {
    background-color: rgba(191, 21, 21, 0.30);
}

.about__image {
    max-width: 100%;
}

.about__info {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 30px 0 95px;
}

.about__info:first-child {
    width: 100%;
}

.about__description {
    font-weight: 300;
    width: calc(50% - 15px);
}

.about__description:nth-child(1) {
    width: 100%;
}

.about__description span {
 font-weight: 700;
}

/* Gallery section */
.gallery__images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 200px);
    gap: 5px;
}

.gallery__images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery__images img:nth-child(1) {
    grid-area: 1 / 1 / 2 / 3;
}
.gallery__images img:nth-child(2) {
    grid-area: 2 / 1 / 3 / 3;
}
.gallery__images img:nth-child(3) {
    grid-area: 3 / 1 / 4 / 2;
}
.gallery__images img:nth-child(4) {
    grid-area: 3 / 2 / 4 / 3;
}
.gallery__images img:nth-child(5) {
    grid-area: 4 / 1 / 5 / 3;
}
.gallery__images img:nth-child(6) {
    grid-area: 5 / 1 / 6 / 2;
}
.gallery__images img:nth-child(7) {
    grid-area: 5 / 2 / 6 / 3;
}

/* FAQ section */
.faq {
    padding-bottom: 60px;
}

.faq__question {
    border-bottom: 1px solid white;
    position: relative;
}
/* Make animation to open questions */
.faq__content {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s;
}

.faq__content > div {
    overflow: hidden;
}

.faq__question label {
    display: block;
    font-weight: 600;
    cursor: pointer;
    padding: 20px 0;
}

.faq__question p {
    font-weight: 300;
    padding: 0 0 20px;
}

.faq__question input {
    display: none;
}

.faq__question label::before {
    content: '';
    width: 14px;
    height: 14px;
    position: absolute;
    right: 10px;
    top: 23px;
    background: url("../images/down_arrow.svg") no-repeat center / cover;
}
/* Add animation to faq section */
.faq__question input[type=checkbox]:checked ~ div {
    animation: open_faq 0.5s linear;
}

.faq__question input[type=checkbox]:checked ~ label::before {
    transform: scale(1, -1);
    transition: transform 0.25s ease;
}

.faq__question input[type=checkbox]:checked ~ .faq__content {
    grid-template-rows: 1fr;
}

.faq__question input[type=checkbox]:not(:checked) ~ label::before {
    transition: transform 0.25s ease;
}

/* Animation for FAQ text opacity */
@keyframes open_faq {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Consultation section */
.consultation {
    background-color: rgba(191, 21, 21, 0.30);
    padding-bottom: 40px;
}

.consultation__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.consultation p {
    font-size: 0.5rem;
    /* Add negative margin top to be closer to h2 and doesn't change all h2 elements on page */
    margin-top: -30px;
}

.consultation form {
    width: 100%;
    max-width: 570px;
    display: flex;
    flex-direction: column;
    gap: calc(5px / 2);
    padding: 44px 0;
}

.consultation input,
.consultation textarea {
    font-family: Inter, sans-serif;
    width: 100%;
    padding: 12px 35px;
    border-radius: 10px;
    border: none;
}

.consultation input[type=submit] {
    background-color: #202020;
    color: #fffff1;
    cursor: pointer;
}

.consultation input[type=submit]:hover {
    background-color: #BF1515;
    border: #202020;
    transition: background-color 0.2s;
}

#privacy_policy {
    font-size: 0.5rem;
    text-decoration: underline;
}

/* Contacts section */
.contacts {
    padding: 60px 0 26px;
}

.contacts__wrapper {
    display: flex;
    justify-content: space-between;
}

.contacts__links {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.contacts__links li {
    list-style-type: none;
    font-size: 26px;
}

.contacts__links a:hover i {
    color: #BF1515;
    transition: color 0.2s;
}

.contacts__info p {
    padding-bottom: 30px;
}

.contacts__map {
    width: 100dvw;
    position: relative;
    left: -2rem;
    right: -2rem;
}

.contacts iframe {
    width: 100%;
}

/* Footer */
footer {
    border-top: 1px solid #fffff1;
    padding: 15px;
    text-align: center;
}

footer p {
    display: contents;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
}
/* Add media queries for smallest mobile width(320px-350px) */
@media screen and (max-width: 350px) {
    .hero__title {
        padding-top: 370px;
    }
}

/* Tablet version */
@media screen and (min-width: 768px) {
    html {
        scroll-padding-top: 106px;
    }

    main {
        padding-top: 106px;
    }

    h2 {
        font-size: 35px;
        text-align: start;
        padding: 88px 0 60px;
    }
    /* Header section */
    .header__logo,
    .header__navigation {
        font-size: 40px;
    }

    .header__links {
        top: 106px;
    }
    /* Hero section */
    .hero {
        min-height: 886px;
        background-image: url("../images/hero_background_desktop.webp");
    }

    .hero__title {
        font-size: 55px;
        padding-top: 552px;
    }

    .hero__description {
        font-size: 18px;
        padding-bottom: 56px;
    }

    .hero__consultation {
        font-size: 21px;
    }
    /* About section */
    .about__info {
        font-size: 25px;
    }
    /* Gallery section */
    .gallery__images {
        grid-template-rows: repeat(5, 334px);
        padding-bottom: 30px;
    }
    /* Faq section */
    .faq {
        padding-bottom: 75px;
    }

    .faq, #privacy_policy {
        font-size: 20px;
    }
    /* Consultation section */
    .consultation p {
        font-size: 1rem;
    }

    .consultation input,
    .consultation textarea {
        font-size: 25px;
        padding: 18px 40px;
    }

    .consultation form {
        padding: 80px 0;
    }
    /* Contacts section */
    .contacts {
        padding: 85px 0 50px;
    }

    .contacts__wrapper {
        justify-content: space-around;
        padding-bottom: 20px;
    }

    .contacts__info {
        font-size: 20px;
    }

    .contacts__info p {
        padding-bottom: 40px;
    }

    .contacts__links li {
        font-size: 40px;
    }
    /* Footer */
    footer {
        padding: 23px;
    }

    footer p {
        font-size: 15px;
    }
}
/* Desktop version */
@media screen and (min-width: 1024px) {
    html {
        scroll-padding-top: unset;
    }

    main {
        padding-top: unset;
    }

    h2 {
        margin-left: 135px;
    }

    /* Header section */
    .header {
        padding: 47px 0;
        position: unset;
    }

    .header__navigation label {
        display: none;
    }

    .header__links {
        position: unset;
        display: flex;
        gap: 40px;
        font-size: 18px;
        min-width: unset;
    }

    .header__links li {
        padding: 0;
        position: relative;
    }

    .header__links li::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -0.5rem;
        height: 3px;
        width: 100%;
        background-color: #BF1515;
        transform: scale(0, 1);
        transition: transform 0.25s;
    }

    .header__links li:hover::after {
        transform: scale(1, 1);
    }

    .header__links li:not(:hover) {
        opacity: 0.8;
    }

    /* Hero section */
    .hero {
        background-size: cover;
    }

    .hero__title {
        padding-top: 300px;
    }

    .hero__description {
        padding-bottom: 200px;
    }

    .hero__consultation {
        padding: 1.5rem;
    }
    /* About section */
    .about__wrapper {
        display: flex;
        padding-bottom: 50px;
        gap: 30px;
    }

    .about__image {
        width: 40%;
    }

    .about__info {
        width: 60%;
        padding: 0;
    }
    /* Gallery section */
    .gallery__images {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 360px);
        gap: 10px;
    }

    .gallery__images img:nth-child(1) {
        grid-area: 1 / 1 / 2 / 2;
    }
    .gallery__images img:nth-child(2) {
        grid-area: 1 / 2 / 2 / 4;
    }
    .gallery__images img:nth-child(3) {
        grid-area: 2 / 1 / 3 / 2;
    }
    .gallery__images img:nth-child(4) {
        grid-area: 2 / 2 / 3 / 3;
    }
    .gallery__images img:nth-child(5) {
        grid-area: 2 / 3 / 3 / 4;
    }
    .gallery__images img:nth-child(6) {
        grid-area: 3 / 1 / 4 / 3;
    }
    .gallery__images img:nth-child(7) {
        grid-area: 3 / 3 / 4 / 4;
    }
    /* FAQ section */
    .faq__question {
        max-width: 892px;
        margin: 0 auto;
    }

    .faq__question label {
        font-size: 27px;
    }

    .faq__question label::before {
        width: 20px;
        height: 20px;
    }
    /* Consultation section */
    .consultation h2 {
        margin: 0;
    }

    /* Contacts section */
    .contacts {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 10%;
    }

    .contacts__wrapper {
        flex-direction: column;
    }

    .contacts__links {
        flex-direction: row;
        justify-content: space-between;
    }

    .contacts__map {
        position: unset;
        max-width: 60%;
    }
}