@font-face {
    font-family: "Druk Wide Cy Web";
    src: url('../fonts/Druk-Wide-Cy-Web/Druk-Wide-Cy-Web-Medium-Regular.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: Inter;
    src: url("../fonts/Inter/static/Inter-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: Inter;
    src: url("../fonts/Inter/static/Inter-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: Inter;
    src: url("../fonts/Inter/static/Inter-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: Inter;
    src: url("../fonts/Inter/static/Inter-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: Inter;
    src: url("../fonts/Inter/static/Inter-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}
/*@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 85px;
}

body {
    background-color: #202020;
    color: #fffff1;
    font-family: Inter, sans-serif;
    font-weight: normal;
    font-style: normal;
}

.container {
    max-width: 1416px;
    min-width: 355px;
    margin: 0 auto;
    padding: 0 2rem;
}

a {
    text-decoration: none;
    color: #fffff1;
}

h2 {
    font-family: "Druk Wide Cy Web", sans-serif;
    text-transform: uppercase;
    padding: 60px 0 35px;
    text-align: center;
    letter-spacing: 1px;
}

.hidden-title {
    display: none;
}

/* Header section */

.header {
    padding: 27px 0;
    text-transform: uppercase;
    background-color: #202020;
    border-bottom: 3px solid #BF1515;
    position: fixed;
    left: 0;
    right: 0;
}
/* Add wrapper to set header element flexible */
.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-family: "Druk Wide Cy Web",sans-serif;
    text-decoration: none;
    display: contents;
    font-size: 20px;
}

.header__navigation {
    font-size: 25px;
}

.header__navigation:hover .header__links {
    display: inline-block;
    background-color: rgba(32, 32, 32, 0.7);
    /*-webkit-backdrop-filter: blur(10px);*/
    backdrop-filter: blur(10px);
    padding: 1rem 2rem 0;
    border-bottom: 3px solid #BF1515;
}
/* Remove default dots in unordered list */
.header__links {
    list-style-type: none;
    display: none;
    position: absolute;
    top: 86px;
    left: 0;
    right: 0;
}

.header__link {
    padding-bottom: 25px;
}

main {
    padding-top: 86px;
}

/* Hero section */
.hero {
    /* Use blend-mode multiply to set background image and color */
    background-blend-mode: multiply;
    background-image: url("../images/hero_background.webp");
    background-position: center top;
    background-repeat: no-repeat;
    background-color: rgba(32,32,32, 0.2);
    min-height: 648px;
    text-align: center;
}

.hero__title {
    padding: 400px 2rem 8px;
    color: #BF1515;
    font-size: 39px;
    letter-spacing: -0.78px;
    text-align: start;
}

.hero__description {
    font-size: 13px;
    padding: 0 2rem 22px;
    text-align: start;
}

.hero__consultation {
    display: inline-block;
    text-transform: uppercase;
    border: 1px solid #BF1515;
    padding: 1rem;
    border-radius: 8px;
}

/* About section */
.about {
    background-color: rgba(191, 21, 21, 0.30);
}

.about__title {

}

.about__image {
    max-width: 100%;
}

/*.about__wrapper {*/

/*}*/

.about__info {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 30px 0 95px;
}

.about__info:first-child {
    width: 100%;
}

.about__description {
    font-weight: 300;
    width: calc(50% - 15px);
}

.about__description:nth-child(1) {
    width: 100%;
}

.about__description span {
 font-weight: 700;
}

/* Gallery section */
.gallery__images {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.gallery__images img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.gallery__images img:nth-child(3n),
.gallery__images img:nth-child(4n),
.gallery__images img:last-child {
    width: calc(50% - (5px / 2));
}

/* FAQ section */
.faq {
    padding-bottom: 60px;
}

.faq__question {
    border-bottom: 1px solid white;
}

.faq__question label {
    display: block;
    font-weight: 600;
    cursor: pointer;
    padding: 20px 0;
}

.faq__question p {
    font-weight: 300;
    padding: 0 0 20px;
}

.faq__question input,
.faq__question p {
    display: none;
}

.faq__question input[type=checkbox]:checked ~ p {
    display: block;
}

.faq__question::after {

}

/* Consultation section */
.consultation {
    background-color: rgba(191, 21, 21, 0.30);
}

.consultation p {
    font-size: 0.5rem;
    text-align: center;
    /* Add negative margin top to be closer to h2 and don't change all h2 on page */
    margin-top: -30px;
}

.consultation form {
    max-width: 570px;
    display: flex;
    flex-direction: column;
    gap: calc(5px / 2);
    padding: 44px 0;
    margin: 0 auto;
}

.consultation input,
.consultation textarea {
    width: 100%;
    padding: 12px 35px;
    border-radius: 10px;
    border: none;
}

.consultation input[type=submit] {
    background-color: #202020;
    color: #fffff1;
}

#privacy_policy {
    display: flex;
    justify-content: center;
    font-size: 0.5rem;
    text-decoration: underline;
    padding-bottom: 40px;
}

/* Contacts section */
.contacts {
    padding: 60px 0 26px;
}

.contacts__wrapper {
    display: flex;
    justify-content: space-between;
}

.contacts__links {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.contacts__links li {
    list-style-type: none;
    font-size: 26px;
}

.contacts__links a:hover i {
    color: #BF1515;
}

.contacts__info p {
    padding-bottom: 30px;
}

.contacts iframe {
    width: 100%;
}

/* Footer */
footer {
    border-top: 1px solid #fffff1;
    padding: 15px;
    text-align: center;
}

footer p {
    display: contents;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
}